extends layout

block content
  div(class='sidebar pad2')
    h1 Sidebar Heading
    h2 Sidebar Subsection
    h2 Sidebar Subsection
    h2 Sidebar Subsection
  div(id='map')
  script
    include ../public/javascripts/map.js